.meal {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This centers items vertically */
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

/* styles.css */
.pressableImage {
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
  cursor: pointer; /* Change cursor to indicate interactivity */
}

/* When the image is clicked (active state) */
.pressableImage:active {
  transform: scale(0.95); /* Slightly shrink the image */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Add an inset shadow to simulate pressing */
}
